{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
    <div class="contenerh" id="bg-homme">
    <div class="textheadhome">TEXTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT</div>
    </div>
</body>
<script src="">
$( "selector" ).css( {"background-image" : "url( image )"} );
</script>
{% endblock %}
