{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<body>
    <div class="contenerh">
        <div class="imghome1">
            <div class="contimgh1">
                <img class="imghome" src="images\pexels-tyler-lastovich-699122.jpg" alt="" width="1000" >
            </div>
        </div>

    </div>
</body>
{% endblock %}
