{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main>
    <div class="contenerh">
        <div class="ombrelogo">
            <div class="contlogohome"><img class="logoh2" src="images/logo-esmart1.png" alt="">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main2">
            <div class="ombre1">
                <H1 class="titrehome">Bienvenue</H1>
                    <p class="pih1">Bienvenue sur eSmart, le site de vente de smartphones pour ceux qui cherchent à se connecter au futur.</p>
                    <p class="pih2">Chez eSmart, nous croyons que la technologie mobile est en train de changer le monde pour le mieux, et nous voulons vous donner accès aux derniers appareils qui sont conçus pour vous aider à profiter de ces changements. Nous offrons une sélection de smartphones de pointe qui sont non seulement performants et fiables, mais également conçus pour vous faire vivre une expérience utilisateur exceptionnelle.</p>
                    <p class="pih3">Notre site est conçu pour vous offrir une expérience de shopping en ligne futuriste et facile à utiliser. Nous avons intégré les dernières technologies pour vous permettre de découvrir et de comparer les différents appareils en un seul endroit. Et si vous avez besoin d'aide pour faire le bon choix, notre équipe de support client est là pour vous aider à tout moment.</p>
                    <p class="pih4">Nous sommes fiers de proposer une livraison rapide et fiable, ainsi que des options de paiement sécurisées pour vous assurer une expérience d'achat en ligne en toute confiance. </p>
                    <p class="pih5">Rejoignez notre mouvement vers l'avenir et découvrez les meilleurs smartphones du marché sur eSmart. Nous sommes impatients de vous aider à vous connecter à un monde meilleur.</p>
                <img src="public\images\icons8-twitter-96.png" alt="">
                <div class="ombre2">
                </div>
            </div>
        </div>
        <hr class="hr1">
        <div class="main3">
            <h2 class="titrehome2">Marques</h2>
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Samsung</h3>
                    <div class="marque1-1">
                        <div class="recmarsam">
                            <div class="marksam" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Apple</h3>
                    <div class="marque1-1">
                        <div class="recmarapp">
                            <div class="markapp" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Huawei</h3>
                    <div class="marque1-1">
                        <div class="recmarhua">
                            <div class="markhua" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Xiaomi</h3>
                    <div class="marque1-1">
                        <div class="recmarxia">
                            <div class="markxia" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Honor</h3>
                    <div class="marque1-1">
                        <div class="recmarhon">
                            <div class="markhon" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Oppo</h3>
                    <div class="marque1-1">
                        <div class="recmaropp">
                            <div class="markopp" "decomark">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Sony</h3>
                    <div class="marque1-1">
                        <div class="recmarson" "decomark">
                            <div class="markson">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Google</h3>
                    <div class="marque1-1">
                        <div class="recmargoo" "decomark">
                            <div class="markgoo">
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rangemarques">
                <div class="marque1">
                    <h3>Autres</h3>
                    <div class="marque1-1">
                        <div class="recmaraut" "decomark">
                            <div class="markaut"><p>Autres</p>
                                <div class="ombreint" "ombreinta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="">
$( "selector" ).css( {"background-image" : "url( image )"} );
</script>
{% endblock %}
