{% extends 'base.html.twig' %}

{% block title %}Hello Error404Controller!{% endblock %}

{% block body %}


{% block nav %}
{{ include("nav.html.twig") }}
{% endblock %}

<main>

    <div class="custom-container"> 
        <h1>Oops! Page not found</h1>
        <p class="catsanscat">404</p>
    <a class="a404" href="{{ path('app_home') }}"><div class="backacc"><p class="pback">Retourner à la page d'acceuil</p></div></a>
    </div>

</main>

{% endblock %}
