
@keyframes move-to-center {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.contenerh {
    background: url("/public/images/s89-pm-0083-03-card-mockup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -shadow: rgba(255, 255, 255, 0.25) 0px 0px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px,
      rgba(255, 255, 255, 0.12) 0px 4px 6px,
      rgba(255, 255, 255, 0.17) 0px 12px 13px,
      rgba(255, 255, 255, 0.09) 0px -3px 5px;
      margin-bottom: 125px;
  }
  
  .hr1 {
    width: 1440px !important;
  }
  
  .titrehome {
    font-family: "LeckerLione";
    font-size: 40px;
  }
  
  .titrehome2 {
    display: flex;
    justify-content: center;
    font-family: "LeckerLione";
    font-size: 30px;
  }
  
  .ombrelogo {
    font-size: 80px;
    text-align: center;
    font-family: "LeckerLione";
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
  }
  
  .contlogohome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .elog {
    font-size: 190px;
    color: transparent;
    background: linear-gradient(
      90deg,
      rgb(255, 0, 217) 0%,
      rgb(125, 0, 241) 35%,
      rgb(0, 212, 255) 100%
    );
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    width: 120px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    filter: drop-shadow(0px 0px 30px black);
  }
  
  .smarthome {
    caret-color: transparent;
    position: relative;
    z-index: 2;
    left: 0px;
    top: -48px;
    margin: 0px;
    width: auto;
    height: auto;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
  }

.ombre1{
  margin: 100px 0px 200px 0px;
}
  
.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item8 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }

.item9 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    caret-color: transparent;
    height: 146px;
    width: 260px;
    border-radius: 25px;
    border: black solid 6px;
    transition: transform 0.5s;
    user-select: none;
  }
  
.item10 {
  height: 220px;
  width: 380px;
  border-radius: 25px;
  border: black solid 6px;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 217) 0%,
    rgb(125, 0, 241) 35%,
    rgb(0, 212, 255) 100%
  );
  font-size: 55px;
  height: 146px;
  width: 260px;
  border-radius: 25px;
  font-family: "LeckerLione";
  color: rgb(255, 255, 255);
  text-align: center;
  transition: transform 0.5s;
  user-select: none;
}

  .alogoh{
    margin: 15px;
  }

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col{
    padding-left: unset;
    padding-right: unset;
    flex-grow: unset;
  }

  .parimgaut{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .autres{
    filter: drop-shadow(0px 0px 30px black);
  }

  .plogoh1{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh1{
    animation: move-to-center 0.5s ease-in-out forwards;
    color: rgb(255, 255, 255);
  }

  .plogoh2{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh2{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh3{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh3{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh4{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh4{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh5{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh5{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh6{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh6{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh7{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh7{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh8{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh8{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh9{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh9{
    animation: move-to-center 0.5s ease-in-out forwards;
  }

  .plogoh10{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    transition: justify-content 0.5s;
    font-size: 20px;
    transition: justify-content 0.5s;
    display: flex;
  }

  .item1:hover .plogoh10{
    animation: move-to-center 0.5s ease-in-out forwards;
    color: rgb(255, 255, 255);
  }

  .item1:hover{
    transform: scale(1.1);
  }

  .item2:hover{
    transform: scale(1.1);
  }

  .item3:hover{
    transform: scale(1.1);
  }

  .item4:hover{
    transform: scale(1.1);
  }

  .item5:hover{
    transform: scale(1.1);
  }

.item6:hover{
    transform: scale(1.1);
  }

  .item7:hover{
    transform: scale(1.1);
  }

  .item8:hover{
    transform: scale(1.1);
  }

  .item9:hover{
    transform: scale(1.1);
  }

  .item10:hover{
    transform: scale(1.1);
  }
  
  .imglogosam {
    width: auto;
    height: 25px;
  }
  
  .imglogoapp {
    width: auto;
    height: 50px;
  }
  
  .imglogohua {
    width: auto;
    height: 40px;
  }
  
  .imglogoxia {
    width: auto;
    height: 50px;
  }
  
  .imglogohon {
    width: auto;
    height: 90px;
  }
  
  .imglogoopp {
    width: auto;
    height: 225px;
  }
  
  .imglogoson {
    width: auto;
    height: 140px;
  }
  
  .imglogogoo {
    width: auto;
    height: 65px;
  }
  .imglogoone {
    width: auto;
    height: 75px;
  }

  .main3{
    width: 100%;
    height: auto;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carrou{
    height: auto !important;
  }

  #carousel{
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }