

.contenerh {
    background: url("/public/images/s89-pm-0083-03-card-mockup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px,
      rgba(255, 255, 255, 0.12) 0px 4px 6px,
      rgba(255, 255, 255, 0.17) 0px 12px 13px,
      rgba(255, 255, 255, 0.09) 0px -3px 5px;
      margin-bottom: 125px;
  }
  
  .hr1 {
    width: 1440px !important;
  }
  
  .titrehome {
    font-family: "LeckerLione";
    font-size: 40px;
  }
  
  .titrehome2 {
    display: flex;
    justify-content: center;
    font-family: "LeckerLione";
    font-size: 30px;
  }
  
  .ombrelogo {
    font-size: 80px;
    text-align: center;
    font-family: "LeckerLione";
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
  }
  
  .contlogohome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
  }
  
  .elog {
    font-size: 190px;
    color: transparent;
    background: linear-gradient(
      90deg,
      rgb(255, 0, 217) 0%,
      rgb(125, 0, 241) 35%,
      rgb(0, 212, 255) 100%
    );
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    width: 120px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    filter: drop-shadow(0px 0px 30px black);
  }
  
  .smarthome {
    caret-color: transparent;
    position: relative;
    z-index: 2;
    left: 0px;
    top: -48px;
    margin: 0px;
    width: auto;
    height: auto;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
  }
  
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    caret-color: transparent;
    height: 220px;
    width: 380px;
    border-radius: 25px;
    border: black solid 6px;
    transition: box-shadow 1s ease-in-out;
  }

  .alogoh{
    margin: 15px;
  }

  .plogoh{
    color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 5px 20px;
    font-size: 20px;
  }

  .item:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 70px -10px;
  }

.item9 {
    height: 220px;
    width: 380px;
    border-radius: 25px;
    border: black solid 6px;
    background: linear-gradient(
      90deg,
      rgb(255, 0, 217) 0%,
      rgb(125, 0, 241) 35%,
      rgb(0, 212, 255) 100%
    );
    font-size: 70px;
    height: 220px;
    width: 380px;
    border-radius: 25px;
    font-family: "LeckerLione";
    color: rgb(255, 255, 255);
    text-align: center;
    transition: box-shadow 1s ease-in-out;
  }

  .item9:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 70px -10px;
  }

  .alogoh:hover .plogoh{
    color: rgb(255, 255, 255);
  }

  
  .imglogosam {
    width: auto;
    height: 35px;
  }
  
  .imglogoapp {
    width: auto;
    height: 70px;
  }
  
  .imglogohua {
    width: auto;
    height: 60px;
  }
  
  .imglogoxia {
    width: auto;
    height: 65px;
  }
  
  .imglogohon {
    width: auto;
    height: 115px;
  }
  
  .imglogoopp {
    width: auto;
    height: 300px;
  }
  
  .imglogoson {
    width: auto;
    height: 170px;
  }
  
  .imglogogoo {
    width: auto;
    height: 85px;
  }
  
  div.item:nth-of-type(9) {
  }

  .main3{
    width: 100%;
    height: auto;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carrou{
    height: auto !important;
  }

  #carousel{
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }