.contformconn{
    background: linear-gradient(217deg, rgba(114, 114, 114, 0.35), rgb(32 32 32 / 0.35) 70.71%), linear-gradient(127deg, rgb(110 110 110 / 0.35), rgb(37 37 37 / 0.35) 70.71%), linear-gradient(336deg, rgb(77 77 77 / 0.35), rgb(0 0 0 / 0.35) 70.71%);
    backdrop-filter: blur(10px);
    box-shadow: rgb(0, 0, 0) 0px 0px 20px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
    border-radius: 35px;
    width: 450px;
    height: 490px;
}