{% extends 'base.html.twig' %}

{% block body %}

<div class="custom-container">

{% block title %}<div class="parchem"><div class="chemintop"><a class="achem" href="">eSmart</a><p class="pchem">/</p><a class="achem" href="">Smartphone</a><p class="pchem">/</p><a class="achem" href="">{{ smartphone.nom }}</a><p class="pchem">/</p><a class="achem" href="">Modifier</a></div></div>{% endblock %}

<div class="btns">
    {{ include('smartphone/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('smartphone/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
