{% extends 'base.html.twig' %}

{% block title %}New Smartphone{% endblock %}

{% block body %}

<div class="custom-container">

    <h1>New Smartphone</h1>

    {{ include('smartphone/_form.html.twig') }}

    <a href="{{ path('app_smartphone_index') }}">back to list</a>

</div>

{% endblock %}

