
@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "./header/nav.scss";
@import "./footer/footer.scss";
@import"./main/testcrou.scss";
@import"./main/home.scss";
@import"./main/smartphone.scss";
@import"./main/loginform.scss";
// @import"./main/carousel1.scss";

*{
}

body {
  display: grid !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-color: rgb(43, 43, 43) !important;
  color: rgb(255, 255, 255) !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: Phantomsans, sans-serif !important;
  min-height: 600px !important;
  height: auto !important;
  width: 100% !important;
}

.custom-container{
  width: 1440px !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  margin:  125px auto !important;
}

.parchem{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.chemintop{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.contadminaff{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
}

.h2smart{
  font-size: 40px;
  font-weight: bold;
}

.h2smartmin{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.dessmart{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.papacarte{
  display: flex;
  justify-content: center;
  width: 100%;
}

.papacartemin{
}

.carte-table{
  color: rgb(245, 245, 245);
  padding: 30px;
  height: auto;
  width: 1100px;
  border-radius: 35px;
  border: 4px solid black;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.149), rgba(0, 0, 0, 0.528));
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
}

.carte-tablemin{
  color: rgb(245, 245, 245);
  padding: 15px;
  height: auto;
  width: 320px;
  border-radius: 35px;
  border: 4px solid black;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.149), rgba(0, 0, 0, 0.528));
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.titlephotomin{
  display: flex;
  justify-content: center;
}

.prixmin{
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.prixm{
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: auto;
}

.titlephoto{
  display: flex;
  flex-direction: column;
}

.paradcarte{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.paradcartemin{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.btn-del{
  background-color:rgb(43, 43, 43) ;
  color: rgb(255, 0, 0);
  height: auto;
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.btn-del:hover{
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
}

.btn-edt{
  background-color:rgb(43, 43, 43) ;
  color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.pchem{
  margin: 0px 10px;
}

.achem :nth-of-type(1){
  color: rgb(245, 245, 245);
}

.achem :nth-of-type(2){
  color: rgb(245, 245, 245);
}

.achem :nth-of-type(3){
  color: rgb(245, 245, 245);
}

.achem:hover :nth-of-type(1){
  color: rgb(255, 255, 255);
}

.achem:hover :nth-of-type(2){
  color: rgb(255, 255, 255);
}

.achem:hover :nth-of-type(3){
  color: rgb(255, 255, 255);
}

.btn-edt:hover{
  color: black;
  background: white;
}

img{
  vertical-align: unset !important;
}

.table td{
  border-top: unset !important;
}

tr{
  display: flex;
  flex-direction: column;
}

.cont-card-smartphone{
  background: rgb(245,245,247);
  color: black;
}

.imgsmartphones{
  width: 1700px !important;
  height: auto !important;
}

.imgsmartphonesmin{
  width: 640px !important;
  height: auto !important;
}

.contimgsmartphones{
  background-color: rgb(255, 255, 255);
  width: 640px !important;
  height: 640px !important;
  border: solid black 4px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contimgsmartphonesmin{
  background-color: rgb(255, 255, 255);
  width: 265px !important;
  height: 265px !important;
  border: solid black 4px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contimgsmartphones2{
  background-color: rgb(255, 255, 255);
  width: 420px !important;
  height: 420px !important;
  border: solid black 4px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}