@font-face {
    font-family: "DancingSript";
    src: url("/public/fonts/DancingScript-Bold.ttf");
  }

  @font-face {
    font-family: "CarterOne";
    src: url("/public/fonts/CarterOne-Regular.ttf");
  }
  
  @font-face {
    font-family: "GreatVibes";
    src: url("/public/fonts/GreatVibes-Regular.ttf");
  }
  
  @font-face {
    font-family: "KaushanScript";
    src: url("/public/fonts/KaushanScript-Regular.ttf");
  }
  
  @font-face {
    font-family: "LeckerLione";
    src: url("/public/fonts/LeckerliOne-Regular.ttf");
  }
  
  @font-face {
    font-family: "Lobster";
    src: url("/public/fonts/Lobster-Regular.ttf");
  }
  
  @font-face {
    font-family: "Pacifico";
    src: url("/public/fonts/Pacifico-Regular.ttf");
  }
  
  @font-face {
    font-family: "RubikViny1";
    src: url("/public/fonts/RubikVinyl-Regular.ttf");
  }
  

body {
    display: grid;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font-family: Phantomsans, sans-serif;
    min-height: 600px;
    height: auto;
    width: 100%;
}

nav{
    backdrop-filter: blur(14px);
    background: linear-gradient(rgba(0, 0, 0, 0.635),rgba(0, 0, 0, 0.875));
    width: 100%;
    height: 53.4px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 100;
}

.contnav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.parnav{
    display: flex;
    justify-content: center;

}

.bgnav{
    width: 100px;
    height: 30px;
    // background: url("/public/images/logo-esmart2.png");
    // background-size: 100px;
    // background-repeat: no-repeat;
}

.logo2{
    width: auto;
    height: 24px;
}

.parnav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // padding: 16px 0px;
    height: 53.4px;
    width: 1440px;

}

.homebt1{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.homebt2{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navig{
    height: auto;
}

.ul1{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.ul2{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.a1{
    list-style: none;
    text-decoration: none;
    color: white;
}

.li1{
    padding: 0px 10px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.search{
    border: white solid 2px;
    border-radius: 25px;
    padding: 3px 6px;
    outline: unset;
}

.reche1{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    box-sizing: unset;
    border-color: unset;
    border-style: unset;
    outline: unset;
}

.reche2{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    outline: unset;
    box-sizing: unset;
    border-color: unset;
    border-style: unset;
}

.nav3{
    justify-content: center;
    align-items: center;
}

.panier{
    list-style: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.conn{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 12px;
  justify-content: center;
  height: 35px;
  padding: 14px 18px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
    flex-direction: row;
    justify-content: center;
}

.navig2{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

footer{
    border-top: white solid 2px;
    background: linear-gradient(90deg, rgb(255, 0, 217) 0%, rgba(125,0,241,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 50px;
}

.footercont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    width: 1000px;
}

.ulfoot1{
    color: white;
    list-style: none;
    width: auto;
}

.hrw{
    width: 100px;
}

.contenerh{
    background: url("/public/images/s89-pm-0083-03-card-mockup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;

}

.logoh2{
    position: relative;
    width: auto;
    height: 150px;
    caret-color: transparent;
    left: 0px;
    top: 40px;
}
    
.ombre1{
    width: 1000px;
}

.ombre2{
}

.ombrelogo{
    position: absolute;
    font-size: 80px;
    text-align: center;
    font-family: "LeckerLione";
    margin-bottom: 80px;
    backdrop-filter: blur(4px);
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.736) 5%, rgba(107, 107, 107, 0.294), rgba(169, 169, 169, 0), rgba(0, 0, 0, 0));
}

.smarthome{
    caret-color: transparent;
    position: relative;
    z-index: 2;
    left: 0px;
    top: -40px;
    margin: 0px;
    width: auto;
    height: auto;
}

.contlogohome{
}

.imghome1{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.imghome{
    width: 100%;
    height: auto;
}

.contimgh1{
    height: auto;
    width: auto;
}

.maincontind{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.conth1home{
    width: 1440px;
    display: flex;
    justify-content: center;
}

.h1home{
    font-size: 90px;
    font-weight: bold;
}

.textheadhome{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.716);
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hr1{
    width: 1100px;
}

.titrehome{
    display: flex;
    justify-content: center;
    font-family: "LeckerLione";
    font-size: 40px;
}


.titrehome2{
    display: flex;
    justify-content: center;
    font-family: "LeckerLione";
    font-size: 30px;
}

.titreh{
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    position: absolute;
    width: 0px;
    height: 0px;
}

.smart{
    font-size: 25px;
    font-family: "LeckerLione";
    margin: 0px;     
}

.plogo1{
    color: transparent;
    background: linear-gradient(90deg, rgb(255, 0, 217) 0%, rgb(125, 0, 241) 35%, rgb(0, 212, 255) 100%);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "LeckerLione";
    font-weight: bold;
    font-size: 42px;
    margin: 0px;
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    position: relative;
    top: 1px;
    left: 56px;
}

.main3{
  // width: 1200px;
}

#carousel{
  display: flex;
  order: 1;
}

.carrou{
    height: 600px;
    width: 1200px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

.recmaraut{
    color: black;
    background: white;
    border: #FFFFFF solid 4px;
    border-radius: 25px;
    height: 220px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "LeckerLione";
}

.ombreint{
    width: 100%;
    height: 100%;
}

.ombreinta{
}

#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 12;
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 9;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url(/public/images/256_144_2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url(/public/images/applelogopng.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url(/public/images/Emblème-Huawei.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url(/public/images/Xiaomi_logo_2021.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url(/public/images/Honor-Symbole.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }

  div.item:nth-of-type(6) {
    --offset: 6;
    background-image: url(/public/images/OnePlus-Logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }

  div.item:nth-of-type(7) {
    --offset: 7;
    background-image: url(/public/images/Sony_Mobile-Logo.wine.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }

  div.item:nth-of-type(8) {
    --offset: 8;
    background-image: url(/public/images/logo-de-l-icône-google-plat-rempli-vectoriels-simples-pictogramme-noir-solide-isolé-sur-fond-blanc-159029192.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }

  div.item:nth-of-type(9) {
    --offset: 9;
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 380px;
    border-radius: 25px;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ #carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ #carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ #carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ #carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ #carousel {
    --position: 5;
  }
  
  input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }
  
  input:nth-of-type(6):checked ~ #carousel {
    --position: 6;
  }

  input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
  }
  input:nth-of-type(7):checked ~ #carousel {
    --position: 7;
  }
  
  input:nth-of-type(8) {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
  }
  input:nth-of-type(8):checked ~ #carousel {
    --position: 8;
  }  
  
  input:nth-of-type(9) {
    grid-column: 10 / 11;
    grid-row: 2 / 3;
  }
  input:nth-of-type(9):checked ~ #carousel {
    --position: 9;
  }
  