
@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "./header/nav.scss";
@import "./footer/footer.scss";
@import"./main/testcrou.scss";
@import"./main/home.scss";
@import"./main/smartphone.scss";
@import"./main/loginform.scss";
// @import"./main/carousel1.scss";

*{
}

body {
  display: grid !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-color: rgb(43, 43, 43) !important;
  color: rgb(255, 255, 255) !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: Phantomsans, sans-serif !important;
  min-height: 600px !important;
  height: auto !important;
  width: 100% !important;
}

.custom-container{
  width: 1440px !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  margin:  125px auto !important;
}

.table{
  color: rgb(255, 255, 255) !important;
}

.btn-del{
  background-color:rgb(43, 43, 43) ;
  color: rgb(255, 0, 0);
  height: auto;
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  padding: 10px;
}

img{
  vertical-align: unset !important;
}

.table td{
  border-top: unset !important;
}

tr{
  display: flex;
  flex-direction: column;
}

.cont-card-smartphone{
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
}

.body-card{
  width: 4500px;
  height: 800px;
}

.imgsmartphone{
  width: 450px !important;
  height: auto !important;
}

.contimgsmartphone{
  background: rgb(255, 255, 255);
  width: 420px !important;
  height: 420px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 4px black solid;
}