
@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "./header/nav.scss";
@import "./footer/footer.scss";
@import"./main/testcrou.scss";
@import"./main/home.scss";
@import"./main/smartphone.scss";
@import"./main/loginform.scss";
@import"./main/error404.scss";
// @import"./main/carousel1.scss";

*{
}

h1,h2,h3,h4,h5,p,img{
  caret-color: transparent;
}

body {
  // background: url("public/images/pexels-tyler-lastovich-719399.jpg");
  display: grid !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-color: rgb(43, 43, 43) !important;
  color: rgb(255, 255, 255) !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: Phantomsans, sans-serif !important;
  min-height: 600px !important;
  height: auto !important;
  width: 100% !important;
}

.custom-container{
  width: 1440px !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  margin:  125px auto !important;
}

.parchem{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  caret-color: transparent;
}

.chemintop{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.contfiltsmar{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.parparsmart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterdiv{
  width: 540px;
  max-height: fit-content;
  background: linear-gradient(217deg, rgba(114, 114, 114, 0.35), rgb(32 32 32 / 0.35) 70.71%), linear-gradient(127deg, rgb(110 110 110 / 0.35), rgb(37 37 37 / 0.35) 70.71%), linear-gradient(336deg, rgb(77 77 77 / 0.35), rgb(0 0 0 / 0.35) 70.71%);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  border-image-slice: 1;
  
  box-shadow: rgb(0, 0, 0) 0px 0px 20px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
}

.parnewsmart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contadminaff{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
}

.h2smart{
  font-size: 40px;
  font-weight: bold;
}

.h2smartmin{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.dessmart{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.a-crea{
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 15px;
  margin: 30px;
  width: 650px;
  text-align: center;
  background: linear-gradient(90deg,rgb(0 0 0 / 15%),rgb(0 0 0 / 43%),rgb(0 0 0 / 12%));
}

.a-carte{
  transition: transform 0.5s;
}

.par-smar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1160px;
  justify-content: flex-start;
}

.d-carte{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.papacarte{
  display: flex;
  justify-content: center;
  width: 100%;
}

.papacartemin{
}

.carte-table{
  color: rgb(245, 245, 245);
  padding: 30px;
  height: auto;
  width: 1100px;
  border-radius: 35px;
  background: linear-gradient(217deg, rgba(114, 114, 114, 0.35), rgb(32 32 32 / 0.35) 70.71%), linear-gradient(127deg, rgb(110 110 110 / 0.35), rgb(37 37 37 / 0.35) 70.71%), linear-gradient(336deg, rgb(77 77 77 / 0.35), rgb(0 0 0 / 0.35) 70.71%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
}

.carte-tablemin{
  color: rgb(255, 255, 255);
  height: 405px;
  background: linear-gradient(217deg, rgba(114, 114, 114, 0.35), rgb(32 32 32 / 0.35) 70.71%), linear-gradient(127deg, rgb(110 110 110 / 0.35), rgb(37 37 37 / 0.35) 70.71%), linear-gradient(336deg, rgb(77 77 77 / 0.35), rgb(0 0 0 / 0.35) 70.71%);
  backdrop-filter: blur(10px);
  width: 250px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;

}

.carte-tablemin:hover .contimgsmartphonesmin{
  filter: drop-shadow(0 0 13px #fff);
  transform: scale(1.050);
}

.titlephotomin{
  display: flex;
  justify-content: center;
}

.prixmin{
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: rgb(218, 218, 218);
  margin-bottom: 15px;
}

.prixm{
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: auto;
}

.voirplus{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 217) 0%,
    rgb(125, 0, 241) 35%,
    rgb(0, 212, 255) 100%
  );
  width: 80px;
  height: 30px;
  margin: auto;
}

.voir-t{
  filter: drop-shadow(0px 0px 3px black);
  margin: 0px;
}

.avh2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titlephoto{
  display: flex;
  flex-direction: column;
}

.paradcarte{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.btn-del{
  background: linear-gradient(90deg,rgb(0 0 0 / 15%),rgb(0 0 0 / 43%),rgb(0 0 0 / 12%));
  color: rgb(255, 0, 0);
  height: auto;
  width: auto;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.btn-del:hover{
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
}

.btn-edt{
  background: linear-gradient(90deg,rgb(0 0 0 / 15%),rgb(0 0 0 / 43%),rgb(0 0 0 / 12%));
  color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.pchem{
  margin: 0px 10px;
}

.achem :nth-of-type(1){
  color: rgb(245, 245, 245);
}

.achem :nth-of-type(2){
  color: rgb(245, 245, 245);
}

.achem :nth-of-type(3){
  color: rgb(245, 245, 245);
}

.achem:hover :nth-of-type(1){
  color: rgb(255, 255, 255);
}

.achem:hover :nth-of-type(2){
  color: rgb(255, 255, 255);
}

.achem:hover :nth-of-type(3){
  color: rgb(255, 255, 255);
}

.btn-edt:hover{
  color: black;
  background: white;
}

img{
  vertical-align: unset !important;
}

.table td{
  border-top: unset !important;
}

tr{
  display: flex;
  flex-direction: column;
}

.cont-card-smartphone{
  background: rgb(245,245,247);
  color: black;
}

.imgsmartphones{
  width: 1700px !important;
  height: auto !important;
}

.imgsmartphonesmin{
  width: 640px !important;
  height: auto !important;
}

.contimgsmartphones{
  width: 640px !important;
  height: 640px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 116px rgba(255, 255, 255, 0.5));
}

.contimgsmartphonesmin{
  width: 200px;
  height: 265px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 20px black);
  transition: filter 0.5s;
  transition: transform 0.5s;
}

.contimgsmartphones2{
  background-color: rgb(255, 255, 255);
  width: 420px !important;
  height: 420px !important;
  border: solid black 4px !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}