@font-face {
    font-family: "DancingSript";
    src: url("/public/fonts/DancingScript-Bold.ttf");
  }

  @font-face {
    font-family: "CarterOne";
    src: url("/public/fonts/CarterOne-Regular.ttf");
  }
  
  @font-face {
    font-family: "GreatVibes";
    src: url("/public/fonts/GreatVibes-Regular.ttf");
  }
  
  @font-face {
    font-family: "KaushanScript";
    src: url("/public/fonts/KaushanScript-Regular.ttf");
  }
  
  @font-face {
    font-family: "LeckerLione";
    src: url("/public/fonts/LeckerliOne-Regular.ttf");
  }
  
  @font-face {
    font-family: "Lobster";
    src: url("/public/fonts/Lobster-Regular.ttf");
  }
  
  @font-face {
    font-family: "Pacifico";
    src: url("/public/fonts/Pacifico-Regular.ttf");
  }
  
  @font-face {
    font-family: "RubikViny1";
    src: url("/public/fonts/RubikVinyl-Regular.ttf");
  }