<footer>
    <div class="footercont">
        <div class="foot2">
        <ul class="ulfoot1">
            <li class="fottli">foot1</li>
            <li class="fottli">foot2</li>
            <li class="fottli">foot3</li>
            <li class="fottli">foot4</li>
            <li class="fottli">foot5</li>
            <hr class="hrw">
        </ul>
        <ul class="ulfoot1">
            <li class="fottli">foot6</li>
            <li class="fottli">foot7</li>
            <li class="fottli">foot8</li>
            <li class="fottli">foot9</li>
            <li class="fottli">foot10</li>
            <hr class="hrw">
        </ul>
        <ul class="ulfoot1">
            <li class="fottli">foot11</li>
            <li class="fottli">foot12</li>
            <li class="fottli">foot13</li>
            <li class="fottli">foot14</li>
            <li class="fottli">foot15</li>
            <hr class="hrw">
        </ul>
        </div>
    </div>
</footer>