<nav>
<div class="contnav">
        <div class="parnav">
            <a href="{{ path('app_home') }}" class="homebt1">
            <div class="bgnav">
        <img class="logo2" src="images/logo-esmart2.png" alt=""></div>
            </a>

            <div class="navig">
                <ul class="navig2">
                <a href=""class="homebt2"><li class="li1">Smartphones</li></a>
                <a href=""class="homebt2"><li class="li1">Marques</li></a>
                <a href=""class="homebt2"><li class="li1">Nouveautés</li></a>
                <a href=""class="homebt2"><li class="li1">Meilleurs Ventes</li></a>
                </ul>
            </div>
            <div class="search">
                <form>
                    <input class="reche1" type="search" name="q" placeholder="Recherche">
                    <input class="reche2" type="submit" value="X">
                </form>
                
            </div>
            <div class="nav3">
                <ul class="ul2">
                <li class="panier">Panier</li>
                <a href="{{ path('app_login') }}"><li class="conn">Connexion</li></a>
                </ul>
            </div>
        </div>
    </div>
</nav>